* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align:center;
    color:black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:black;
    
}
nav{
    background-color:skyblue;
    padding:10px;
    text-decoration:none;

}
nav a:hover{
    font-weight:bold;
    color:rgb(154, 154, 55);
    text-decoration:underline;
}
form{
    background-color:rgb(183, 193, 202);
    padding:20px;
    width:400px;
    margin:auto;

}
div{
    margin:20px;
    padding:10px;
    background-color:silver;
    
}